@model IEnumerable<FPT_Training_System.Data.Models.Course>

@{
    ViewBag.Title = "ViewCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.VCourse = "active";
}

<h2>View Course</h2>

<div class="card-body">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Course Category Name</th>
                <th>Course Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(modelItem => item.CourseCategory.CourseCateName)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.CourseDescription)
                    </th>                    
                </tr>
            }
        </tbody>
    </table>
</div>
